<div class="div_player">
                <div class="div_green_sidebar"></div>
                <div class="div_center">
                    <div class="div_top_bar">
                        <div class="div_ex">
                            <img src="/images/Asset18.svg" class="svg_ex">
                        </div>
                        <label class="label_top_text">{{playerName}}</label>
                    </div>        
                    <div class="div_sub_container">
                        <div class="div_vert_slider">
                            <input type="range" class="input_vert" min="0" max="150" ng-model="synth.filterRes"/>
                        </div>
                        <div class="div_selects">
                            <select class="select_device">
                                <option selected disabled>choose device</option>
                            </select>
                            <select class="select_waveform" ng-change="test()" ng-model="waveform_value">
                                <option selected disabled value="0">waveform</option>
                                <option value="1">triangle</option>
                                <option value="2">sine</option>
                                <option value="3">square</option>
                                <option value="4">sawtooth</option>
                            </select>
                        </div>
                        <div class="div_hor_sliders">
                            <div class="div_slider_input">
                                <label class="label_text">freq.</label>
                                <input type="range" class="slider_input" min="0" max="150" ng-model="synth.filterRes"/>
                            </div>
                            <div class="div_slider_input">
                                <label class="label_text">reso.</label>
                                <input type="range" class="slider_input" min="0" max="150" ng-model="synth.filterRes"/>
                            </div>
                            <div class="div_slider_input">
                                <label class="label_text">attack</label>
                                <input type="range" class="slider_input" min="0" max="150" ng-model="synth.filterRes"/>
                            </div>
                            <div class="div_slider_input">
                                <label class="label_text">release</label>
                                <input type="range" class="slider_input" min="0" max="150" ng-model="synth.filterRes"/>
                            </div>
                        </div>
                    </div>
                </div>
            
                <div class="div_waveform_visualizer">
                    <img src="/images/p1.svg" class="svg_people">
                </div>
          </div>