.div_player {

	display: flex;
	flex-direction: row;

	padding: 0;
	margin: 15;
	background-color: transparent;
	position: relative;
	border: 1px solid #cccccc;

	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;

	left: 0;
	height: 125px;
	width: 500px;

}

.div_green_sidebar {

	display: block;

	padding: 0;
	margin: 0;
	background: #50fc36;

	left: 0px;
	height: 100%;
	width: 15px;

}

.div_center {

	display: flex;
	flex-direction: column;

	flex-grow: 1;

	padding: 0;
	margin: 15;
	background-color: transparent;
	border-left: 1px solid #cccccc;
	border-right: 1px solid #cccccc;

	margin-left: auto;
	margin-right: auto;

	left: 0;
	height: 100%;

}

.div_top_bar {

	display: flex;
	flex-direction: row;

	padding: 0;
	margin: 0;
	background-color: transparent;
	border-bottom: 1px solid #cccccc;

	height: 25px;
	width: 100%;
}

.div_ex {

	display: block;

	padding: 0;
	margin: 0;
	background-color: transparent;
	border-right: 1px solid #cccccc;

	height: 100%;
	width: 25px;

}

.svg_ex {
	display: block;
	text-indent: -9999px;
	width: 100%;
	height: 100%;
	background: url(/images/Asset18.svg);
	background-size: 100% 100%;
}

.label_top_text {

	display: block;

	padding: 0;
	margin: 0;
	margin-left: 5px;
	background-color: transparent;

	font-family: 'Space Mono', monospace;
	font-weight: normal;

	height: 100%;
}

.div_sub_container {

	display: flex;
	flex-direction: row;

	flex-grow: 1;

	padding: 0;
	margin: 0;
	background-color: transparent;

	left: 0;
	width: 100%;
}

.div_vert_slider {

	display: block;

	padding: 0;
	margin: 0;
	background-color: transparent;
	border-right: 1px solid #cccccc;

	width: 25px;
}

.input_vert {
	height: 100%;
	-webkit-appearance: slider-vertical;
}

.div_selects {

	display: flex;
	flex-direction: column;

	padding: 0;
	margin: 0;
	background-color: transparent;
	border-right: 1px solid #cccccc;

	width: 130px;
}

.select_device {

	display: block;

	padding: 0;
	margin: 4px;
	background-color: transparent;
	border: 1px solid #cccccc;

	font-family: 'Space Mono', monospace;
	font-size: 10px;
	font-weight: bold;

	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
	width: 90%;
}

.select_waveform {

	display: block;

	padding: 0;
	margin: 4px;
	background-color: transparent;
	border: 1px solid #cccccc;

	font-family: 'Space Mono', monospace;

	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
	width: 90%;
}

.div_hor_sliders {

	display: flex;
	flex-direction: column;

	flex-grow: 1;

	padding: 0;
	margin: 0;
	background-color: transparent;
}

.div_slider_input {

	display: flex;
	flex-direction: row;

	flex-grow: 1;

	padding: 0;
	margin: 1px;
	background-color: transparent;

	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
	width: 95%;
}

.label_text {
	text-align: right;
	width: 47%;
	margin-right: 4px;
	font-family: 'Space Mono', monospace;
	font-weight: normal;
}

.slider_input {
	width: 53%;
}

.div_waveform_visualizer {

	display: block;

	padding: 0;
	margin: 0;
	background-color: transparent;

	left: 0;
	height: 100%;
	width: 125px;

}

.canvas_waveform {
	width:100%;
	height:100%;
	background-color: blue;
}